***Q1. What are data structures, and why are they important?***

---


Ans. Data structure is a way of organizing and storing data so that it can be accessed and maniplated efficiently by managing the data based on its charactertics and intended use.
Data structures are important as Choosing the the right data structure increase the efficiency and performance of the program as it simplify the data manuplation , better memory usage, and optimizing searching.



***Q2. Explain the difference between mutable and immutable data types with examples?***

---


Ans. Mutable data types can be changed like to add, modify and remove items without changing there identity after creating the data type like Lists, Dictionary and Set. Example: list =[1,2,3] list.append(4) print(list) we get list =[1,2,3,4]

Immutable data type cannot be changed after we have created it but if any operation seems to modify it it creates a new object. Examople:  x =10
x = x +1 print(x) will give us 11 so a new object x= 11 is created.

***Q3. What are the main differences between lists and tuples in Python? ***

---


Ans. The main difference between lists and tuples in python is lists are
mutable data structure and tuples are immutable data structures.
In Lists we can add ,modify, or remove the items it gives us a flexibility to modify the data according to our use.
In Tuple you cannot modify, add or remove the data it can be used in cases where a fixed database is needed like employee id in a company as it is fixed when the employee joins or the value of some constants like pi, or any mathematical constant.

***Q4. Describe how dictionaries store data.***

---

Ans. The data is stored in pairs of key and value .The pairs may be unorganised or may seem in different order than written in the program .By pairs we mean {"name" :Kunal, "age":20} this is a dictionary in this name and age are the keys with kunal and 20 are there values respectively.

***Q5. Why might you use a set instead of a list in Python?***

---
Ans. In list if there is a duplicate item we need to remove it manually while in a set if there is a value that is reapeated the set will show that value one time only and remove its duplicates. In sets we can also do operations like union , intersection, difference.

***Q6. What is a string in Python, and how is it different from a list?***

---
Ans. A string in Python is a sequence of characters, enclosed within either single quotes (') or double quotes ("). It is a data type used to represent text. Strings are immutable while lists are mutable . In a list there can be different data types like string, float, integer, boolean, etc.

***Q7. How do tuples ensure data integrity in Python?***

---
Ans. Tuples are immutable i.e. once a tuple is created it cannot be modified and it is the key feature that ensures the data integrity .The order is maintained in the tuple.

***Q8. What is a hash table, and how does it relate to dictionaries in Python?***

---
Ans. A hash table is a data structure that stores key-value pairs and provides very fast access to values based on their keys. It works using:

1. Hashing Function: Converts a key into a unique index (called a hash value).

2. Array (or Bucket List): Stores the actual data (key-value pairs) at that index.

3. Collision Handling: If two keys hash to the same index, the hash table has a strategy to store both without data loss (e.g., probing or chaining).

***Q9. Can lists contain different data types in Python?***

---
Ans. Lists can contain different data types such as strings, boolean values, integers, float, another list, dictionary.

***Q10.  Explain why strings are immutable in Python?***

---
Ans. Strings are one of the most used data type and strings are often used as the keys in the dictionary.Immutability prevents accidental or unauthorized changes in strings.

***Q11. What advantages do dictionaries offer over lists for certain tasks?***

---
Ans. 1. Dictionaries in Python offer several advantages over lists for certain tasks. One of the biggest benefits is their ability to provide fast lookups using keys.
2. Dictionaries store data as key-value pairs, which makes the structure ideal for mapping relationships (like names to phone numbers) and improves readability because keys act as meaningful labels.Unlike lists, which rely on index positions, dictionaries eliminate the need to remember or manage indexes.

***Q12. Describe a scenario where using a tuple would be preferable over a list.***

---
Ans. A tuple is preferable over a list in scenarios where the data is fixed and should not be modified so it provides data integrity.For example: storing latitude and longitude of a place, fixed values of the constants. Lists are mutable so its contents can be changed.

***Q13. How do sets handle duplicate values in Python?***

---
Ans. Sets automatically eliminate duplicate values. When you add elements to a set, any duplicates are silently ignored, and only unique values are stored.

***Q14. How does the “in” keyword work differently for lists and dictionaries?***

---
Ans.
1. The in keyword checks whether a specific element exists in the list. It performs a linear search, so it goes through the list element by element until it finds a match.
2. The in keyword checks whether a specific key exists in the dictionary, not the value. It performs a quick hash lookup, making it much faster compared to lists.

***Q15. Can you modify the elements of a tuple? Explain why or why not.***

---
Ans. We cannot modify the elements of tuple in python as tuples are immutable.Once a tuple is created, its contents are fixed, meaning you cannot change, add, or remove elements. This immutability is by design and provides several benefits, such as ensuring data integrity.

***Q16. What is a nested dictionary, and give an example of its use case?***

---
Ans. A nested dictionary in Python is a dictionary where the values themselves are dictionaries. This allows you to represent more complex data structures, where each key in the outer dictionary maps to an inner dictionary, enabling you to store hierarchical or multi-level data. This structure is especially useful for situations where you need to organize data in a way that reflects relationships between entities.

***Q17. Describe the time complexity of accessing elements in a dictionary.***

---
Ans. The time complexity of accessing elements in a dictionary is O(1) on average, meaning it takes constant time regardless of the size of the dictionary. This efficiency is due to the underlying hash table implementation. When you access a value using a key, Python computes a hash for the key, which is used to directly locate the corresponding value in the dictionary. As long as there are no hash collisions, the time required to find and retrieve the value remains constant.

***Q18. In what situations are lists preferred over dictionaries?***

---
Ans. Lists are preferred over dictionaries in situations where order matters, you need to store a simple collection of items, or when you're working with sequential data. Lists are ideal for scenarios where you need to maintain a collection of elements that may change in size, such as appending or removing items. For instance, if you're working with a collection of numbers, strings, or any other type of data that doesn't require key-value associations, a list is a more straightforward and appropriate choice.

***Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?***

---
Ans. Dictionaries in Python are considered unordered because the elements (key-value pairs) are not stored in a specific order. This is due to the underlying implementation using a hash table, where the keys are hashed into indexes, and the order of insertion does not influence how the data is stored or accessed. Unlike lists, where the order of elements is preserved, dictionaries rely on the hash value of the keys for efficient access, making them inherently unordered.

***Q20. Explain the difference between a list and a dictionary in terms of data retrieval.***

---
Ans. The main difference between a list and a dictionary in terms of data retrieval lies in how data is accessed and organized. In a list, data is accessed using numeric indices, where each element is stored at a specific position, and retrieval is done by specifying the index. This allows for constant-time (O(1)) access when the index is known, but searching for a specific value in the list requires iterating through the elements, making it an O(n) operation. On the other hand, in a dictionary, data is accessed using unique keys rather than indices. Each key maps directly to a value, and dictionaries are implemented using hash tables, which provide constant-time (O(1)) access on average for key-based retrieval, making lookups much faster. Unlike lists, dictionaries do not rely on the order of elements.

In [ ]:
# Q1.  Write a code to create a string with your name and print it.
my_string = "Kunal Yadav"
print("My Name is :", my_string)
type(my_string)

My Name is : Kunal Yadav

str

In [ ]:
# Q2. Write a code to find the length of the string "Hello World".
my_string = "Hello World"
print("Length of the string is :", len(my_string))

Length of the string is : 11

In [ ]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python Programming"
Firts_three = my_string[0:3]
print(Firts_three)

Pyt

In [ ]:
# Q4. Write a code to convert the string "hello" to uppercase.
My_string = "hello"
Upper_case = My_string.upper()
print("Upper Case :",Upper_case)

Upper Case : HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
New_string = my_string.replace("apple", "orange")
print("Changed String :",New_string)

Changed String : I like orange

In [ ]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print("List with numbers 1 to 5 :",my_list)

List with numbers 1 to 5 : [1, 2, 3, 4, 5]

In [ ]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print("Appended list is :",my_list)

Appended list is : [1, 2, 3, 4, 10]

In [ ]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list =[1,2,3,4,5]
my_list.remove(3)
print("Removed element 3 from list :",my_list)

Removed element 3 from list : [1, 2, 4, 5]

In [ ]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print("Second element in the list :",my_list[1])

Second element in the list : b

In [ ]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list :",my_list)

Reversed list : [50, 40, 30, 20, 10]

In [ ]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print("Tuple with elements 100, 200, 300 is :",my_tuple)

In [ ]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple =("red", "green", "blue","yellow")
my_tuple[2]
# or we can access it by my_tuple[-2]

'blue'

In [ ]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
Minimum = min(my_tuple)
print("Minimum element in tuple is :", Minimum)

Minimum element in tuple is : 5

In [ ]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ("dog", "cat","rabbit")
Indexx = my_tuple.index("cat")
print("Index of element cat in tuple is :", Indexx)

Index of element cat in tuple is : 1

In [ ]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Fruits = ("Apple",'Orange', 'Grapes')
if "kiwi" in Fruits :
  print("Kiwi is in the tuple Fruits")
else :
  print("Kiwi is not in tuple Fruits")

Kiwi is not in tuple Fruits

In [ ]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print("The set is :",my_set)

The set is : {'b', 'c', 'a'}

In [ ]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
Empty = my_set.clear
print("Empty set is :", Empty)

Empty set is : <built-in method clear of set object at 0x785be81c8ba0>

In [ ]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Removed element 4 from set :",my_set)

Removed element 4 from set : {1, 2, 3}

In [ ]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
Union_set = set_1.union(set_2) #when using union if there is a common element in the both sets its written only one time in the union set
print("Union of two sets is :",Union_set)

Union of two sets is : {1, 2, 3, 4, 5}

In [ ]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
Intersection_set = set_1.intersection(set_2)
print("Intersection set is :",Intersection_set)

Intersection set is : {2, 3}

In [3]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info_dict = {
    "name" : "Kunal",
    "age"  : 20,
    "city" : "Delhi"
}
print("Dictionary :",info_dict)

Dictionary : {'name': 'Kunal', 'age': 20, 'city': 'Delhi'}

In [10]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
info_dict ={
    "name" : "John",
    "age" : 25
}
print(info_dict)
info_dict["country"]= "USA"
print ("Updated dictionary :",info_dict)

{'name': 'John', 'age': 25}
Updated dictionary : {'name': 'John', 'age': 25, 'country': 'USA'}

In [11]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info_dict = {
    "name" : "Alice",
    "age" : 30
}
value = info_dict["name"]
print("Value associated with name is ",value)

Value associated with name is  Alice

In [14]:
# Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
person.pop("age")
print("Updated dictionary :",person)

Updated dictionary : {'name': 'Bob', 'city': 'New York'}

In [15]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("Key city exists in dictionary")
else:
  print("Key city doesn't exists in dictionary")

Key city exists in dictionary

In [17]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, "apple", True, 2.5]
my_tuple = (1, 2, 3, "apple")
my_dictionary = {'name': "Kunal",'age': 20, "place":"Delhi" }
print("List is :", my_list)
print("Tuple is :",my_tuple)
print("Dictionary is :",my_dictionary)

List is : [1, 2, 'apple', True, 2.5]
Tuple is : (1, 2, 3, 'apple')
Dictionary is : {'name': 'Kunal', 'age': 20, 'place': 'Delhi'}
Dictionary is : {'name': 'Kunal', 'age': 20, 'place': 'Delhi'}

In [24]:
# Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(0,101),5)
print("Five random numbers are :",numbers)
numbers.sort()
print("Random numbers in ascending order :",numbers)

Five random numbers are : [98, 64, 5, 95, 56]
Random numbers in ascending order : [5, 56, 64, 95, 98]

In [25]:
# Q28. Write a code to create a list with strings and print the element at the third index.
Names = ["Apple", "Orange", "Banana", "Grapes", "Kiwi", "Pineapple"]
print("Element at index 3 in names list is ",Names[3])

Element at index 3 in names list is  Grapes

In [28]:
# Q29. Write a code to combine two dictionaries into one and print the result.

dict_1 = {"name": "Kunal", "age": 20}
dict_2 = {"sex": "male","city":"Delhi"}
dict_1.update(dict_2)
print("Combined dictionary :",dict_1)

Combined dictionary : {'name': 'Kunal', 'age': 20, 'sex': 'male', 'city': 'Delhi'}

In [29]:
# Q30. Write a code to convert a list of strings into a set.
Names = ["Apple", "Orange", "Banana", "Grapes", "Kiwi", "Pineapple"]
str_set = set(Names)
print("Set:",str_set)

Set: {'Banana', 'Orange', 'Pineapple', 'Grapes', 'Apple', 'Kiwi'}